@use "../client-styles.scss" as client;

.reset-password-wrapper {
  @extend .auth-wrapper;
}

.reset-password-box {
  @extend .auth-box;
}

.logo-icon-wrapper {
  @include client.logo-wrapper;
  margin: 0 auto 20px;
}

.logo-icon {
  width: 100%;
  height: 100%;
  color: white;
}

.school-name {
  @include client.school-name;
}

.btn-gradient {
  @include client.button-gradient;
}

.input-group {
  @include client.input-group;
}



.btn-back-login {
  @include client.button-back;
}