@use "../client-styles.scss" as client;

.login-wrapper {
  @extend .auth-wrapper;
}

.login-box {
  @extend .auth-box;
}

.logo-icon-wrapper {
  @include client.logo-wrapper;
}

.logo-icon {
  width: 100%;
  height: 100%;
  color: white;
}

.logo {
  width: 60px;
}

.school-name {
  @include client.school-name;
}

.btn-gradient {
  @include client.button-gradient;
}

.separator {
  @include client.separator;
}

.input-group {
  @include client.input-group;
}

.btn-forgot-password {
  @include client.button-link;
  font-size: 0.875rem;
}

